<ng-container>

    <a (click)="showForm()">
        <ng-content></ng-content>
    </a>

    <div class="modal fade" id="{{ modalId() }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Agent [{{ agent.hostname }}] option</h5>
                    <button type="button" class="close" (click)="dismissForm()">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="dropdown-item">
                        <agent-update [agent]="agent" (update)="onUpdate()"></agent-update>
                    </div>

                    <div class="dropdown-item">
                        <agent-delete [agent]="agent" (update)="onUpdate()"></agent-delete>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" (click)="dismissForm()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

</ng-container>
